/**
 * Common style
 *
 * @author Egor Babenko (e.babenko@lar.tech)
 */
/****************** COMMON *******************************/
* {
  box-sizing:border-box;
}
html, body {
  height:100%;
  margin:0;
  padding:0;
}
body {
  font-family: Lato,sans-serif;
  padding-top: 90px!important;
}
/****************** MAIN *******************************/
header, nav {
  position: fixed;
  right: 0;
  left: 0;
}
header {
  width: 100%;
  top: 0;
  background-color: #DDD;
  z-index: 2;
}
nav {
  width: 100%;
  top: 48px;
  padding: 10px;
  background-color: #F6F6F6;
  font-size: 13px;
  z-index: 1;
}
section {
  max-width: 1072px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px;
}
header:after, nav:after, section:after {
  content: "";
  display: block;
}
footer {
  width: 100%;
  background-color: #EEE;
  text-align: center;
  padding: 10px 0 5px 0;
  font-size: 13px;
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
header .menu {
  margin-left: 15px;
  float: left;
}
.unit {
  padding: 22px 10px 5px 10px;
  margin: 0 5px;
}
.unit > a {
  color: inherit;
  text-decoration: none;
}
.unit:hover {
  border-bottom: 2px solid #3b7fca;
}
.unit.active {
  font-weight: bold;
  border-bottom: 2px solid #3b7fca;
}
header .profile {
  padding: 15px 0 0 0;
  float: right;
}
.logo {
  padding: 4px 0 0 0px!important;
  float: left;
}
#balance {
  font-weight: bold;
}
.centered {
  margin: 0 auto;
  max-width: 1050px;
}
#error, #unsavedInfo {
  display:none;
}
.ui.fluid.input {
  display:block!important;
}
