/**
 * Device style
 *
 * @author Egor Babenko (e.babenko@lar.tech)
 */
/****************** COMMON *******************************/
@import url(common.css);

#localSource {
  min-width: 350px!important;
  max-width: 350px!important;
}
#appendComponent, #appendManufacturer {
  margin-top: 5px;
}
#localSource, #appendComponent, #appendManufacturer {
  cursor: pointer;
}
#uploadFile {
  display: none;
}
#divUpload {
  margin: 0 0 0 5px;
}
