/**
 * Device style
 *
 * @author Egor Babenko (e.babenko@lar.tech)
 */
/****************** COMMON *******************************/
@import url(common.css);
/**************** FILTER *********************************/
.search.icon {
  cursor: pointer;
}
.closed {
  display: none!important;
}
.filter-content label {
  text-align: right;
  width: 140px!important;
}
/**************** CONTENT *********************************/
.device .header {
  height: 15px;
}
.device .content {
}
.device .name {
  float: left;
}
.device .active {
  font-size: 13px;
  float: right;
  font-weight: normal;
}
.device .content .apps, .device .content .tags, .device .content .description {
  margin: 5px 0;
}
.device .content .apps > .label, .device .content .tags > .label {
  margin-top: 5px;
}
.device .content .description {
  font-size: 13px;
  color: #DDD;
}
.notfound {
  text-align: center;
}
.pagination.menu > .item {
  cursor: pointer;
}
.pagination.menu > .item.disabled {
  cursor: inherit;
}
#devEui, #joinEui, #devAddr, #bindAppName, #bindTags, .dropdown.selection {
  min-width: 280px!important;
  max-width: 280px!important;
}
#appKey, #appSKey, #nwkSKey {
  min-width: 393px!important;
  max-width: 393px!important;
}
.showby label {
  font-weight: normal!important;
}
.showby .dropdown.selection {
  min-width: 70px!important;
  max-width: 70px!important;
}
