/**
 * Device style
 *
 * @author Egor Babenko (e.babenko@lar.tech)
 */
/****************** COMMON *******************************/
@import url(common.css);

#idname, #name {
  min-width: 393px!important;
  max-width: 393px!important;
}
