/**
 * Device style
 *
 * @author Egor Babenko (e.babenko@lar.tech)
 */
/****************** COMMON *******************************/
@import url(common.css);

.content {
  margin-left: 15px;
}
.content.first {
  margin-left: 0px!important;
}
.header, .node {
  cursor: pointer;
}
.description {
  display: block!important;
}
.ui.buttons .or[data-text]:before {
  color: inherit;
}
.ui.buttons .or.disabled[data-text]:before {
  color: rgba(0,0,0,.4);
}
i.remove, i.add {
  cursor: pointer;
}
#addTranceiver {
  margin-top: 5px;
}
